/* Navbar styles */
.navbar {
  background-color: #bbaf0f;
  padding: 20px 0;
}

.navbar-brand i {
  font-size: 20pt;
}

.navbar-toggler-icon {
  background-color: #212022;
}

.nav-item a {
  font-size: 20pt;
  color: #000;
}

/* Main section styles */

.row[style*="min-height: 500px;"] {
  min-height: 500px;
}

.col-lg-6 h1 {
  font-size: 48pt;
}

.col-lg-6 p {
  font-size: 25pt;
}

.btn {
  border: none;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
}

.btn.text-white {
  color: #fff;
}

.btn[style*="background: #212022;"] {
  background: #212022;
}

.col-lg-6 img {
  width: 100%;
  height: auto;
}

.col-lg-6 h3 {
  font-size: 36pt;
}

.col-lg-6 p {
  font-size: 20pt;
}

.form-control {
  height: 60px;
}

.form-check-label {
  font-size: 16pt;
}

/* Footer styles */
.row[style*="background: #212022;"] {
  background: #212022;
}

.text-white {
  color: #fff;
}

.row p {
  font-size: 16pt;
}

ul.list-unstyled {
  list-style-type: none;
}
